body {
    margin: 0;
    padding: 0;
    // background-image: url(../../../Desktop/espace_nautique/src/img/test.jpg);
    font-family: 'Rubik Mono One', sans-serif;
}

.ntq-page-content {
    min-height: 600px;
    // background-color: lightblue;
}